In [712]:
import pandas as pd
import numpy as np
import os

pd.set_option('display.max_colwidth', None)

In [713]:
shake_bi = pd.read_csv('../data/shakespearean_bigrams.csv')
shake_tri = pd.read_csv('../data/shakespearean_trigrams.csv')
shake_four = pd.read_csv('../data/shakespearean_fourgrams.csv')

In [714]:
good_bi = pd.read_csv('../data/good_titles_bigrams.csv')
good_tri = pd.read_csv('../data/good_titles_trigrams.csv')
good_four = pd.read_csv('../data/good_titles_fourgrams.csv')

In [4]:
print('Number of bigram titles:', len(good_bi))
print('Number of trigram titles:', len(good_tri))
print('Number of fourgram titles:', len(good_four))

Number of bigram titles: 122
Number of trigram titles: 194
Number of fourgram titles: 170

In [5]:
shake_bi.sample(5)

,title,title_tokenized,title_pos,pos_tag
239936,was misled,"['was', 'misled']","[('was', 'VBD'), ('misled', 'VBN')]","['VBD', 'VBN']"
233783,"unhandsome ,","['unhandsome', ',']","[('unhandsome', 'NN'), (',', ',')]","['NN', ',']"
2975,'ll convey,"[""'ll"", 'convey']","[(""'ll"", 'MD'), ('convey', 'VB')]","['MD', 'VB']"
108287,horn is,"['horn', 'is']","[('horn', 'NN'), ('is', 'VBZ')]","['NN', 'VBZ']"
158579,one voluptuously,"['one', 'voluptuously']","[('one', 'CD'), ('voluptuously', 'RB')]","['CD', 'RB']"

In [6]:
good_bi.sample(5)

,uniq_id,Play,Occurences,Title,title_tokenized,title_pos,pos_tag,actual_title_len,tokenized_len
65,675,much ado about nothing,1,kill claudio,"['kill', 'claudio']","[('kill', 'NN'), ('claudio', 'NN')]","['NN', 'NN']",2,2
60,645,midsummer nights dream,1,unbreathed memories,"['unbreathed', 'memories']","[('unbreathed', 'JJ'), ('memories', 'NNS')]","['JJ', 'NNS']",2,2
25,261,king lear,1,little world,"['little', 'world']","[('little', 'JJ'), ('world', 'NN')]","['JJ', 'NN']",2,2
91,1150,hamlet,1,foul deeds,"['foul', 'deeds']","[('foul', 'NN'), ('deeds', 'NNS')]","['NN', 'NNS']",2,2
77,954,tempest,1,nothing natural,"['nothing', 'natural']","[('nothing', 'NN'), ('natural', 'JJ')]","['NN', 'JJ']",2,2

In [7]:
good_bi = good_bi[['Title', 'title_tokenized', 'pos_tag']].rename(columns={'Title':'title'})
good_bi['good_title'] = 1

In [8]:
good_bi.pos_tag.value_counts()

['JJ', 'NN']      40
['NN', 'NN']      25
['JJ', 'NNS']     13
['NN', 'NNS']     12
['VBN', 'NN']      8
['VBG', 'NN']      5
['DT', 'NN']       3
['NN', 'VBD']      2
['RB', 'NNS']      2
['NN', 'JJ']       2
['VBN', 'NNS']     1
['NNS', 'NN']      1
['JJR', 'NNS']     1
['CD', 'NNS']      1
['RB', 'VBD']      1
['RBR', 'NNS']     1
['RBR', 'NN']      1
['CD', 'NN']       1
['JJS', 'NN']      1
['IN', 'NN']       1
Name: pos_tag, dtype: int64

In [9]:
bi_pos = ["['JJ', 'NN']", "['NN', 'NN']", "['JJ', 'NNS']", "['NN', 'NNS']", "['VBN', 'NN']", "['VBG', 'NN']"]

In [10]:
shake_bi = shake_bi[~shake_bi['pos_tag'].isin(bi_pos)].reset_index(drop=True)
shake_bi.drop(columns=['title_pos'], inplace=True)

In [11]:
shake_bi['good_title'] = 0
shake_bi.sample(5)

                  title         title_tokenized         pos_tag  good_title
188767          to vent          ['to', 'vent']    ['TO', 'VB']           0
91387   how ceremonious  ['how', 'ceremonious']   ['WRB', 'JJ']           0
34953        bear these       ['bear', 'these']    ['IN', 'DT']           0
116366     mortals that     ['mortals', 'that']  ['NNS', 'WDT']           0
213517        your free        ['your', 'free']  ['PRP$', 'JJ']           0

In [12]:
shake_bi.columns

Index(['title', 'title_tokenized', 'pos_tag', 'good_title'], dtype='object')

In [13]:
bad_bi = pd.DataFrame(columns=['title', 'title_tokenized', 'pos_tag', 'good_title'])
bad_bi

Empty DataFrame
Columns: [title, title_tokenized, pos_tag, good_title]
Index: []

In [239]:
shake_bi.sample(15)

                  title         title_tokenized          pos_tag  good_title
163303       stolen his       ['stolen', 'his']  ['VBN', 'PRP$']           0
179255       there they       ['there', 'they']    ['RB', 'PRP']           0
18440      ainsi dis-je     ['ainsi', 'dis-je']     ['RB', 'NN']           0
183066  this unseasoned  ['this', 'unseasoned']     ['DT', 'JJ']           0
176200       the verses       ['the', 'verses']    ['DT', 'NNS']           0
108014       lottery of       ['lottery', 'of']     ['NN', 'IN']           0
116071   more slaughter   ['more', 'slaughter']    ['RBR', 'NN']           0
37125         benison .        ['benison', '.']      ['NN', '.']           0
119654           my men           ['my', 'men']  ['PRP$', 'NNS']           0
35796      been oppress     ['been', 'oppress']    ['VBN', 'JJ']           0
70857          for corn         ['for', 'corn']     ['IN', 'NN']           0
116914        most true        ['most', 'true']    ['JJS', 'JJ']           0
167678  tent themselves  ['tent', 'themselves']    ['NN', 'PRP']           0
34543         be styled        ['be', 'styled']    ['VB', 'VBN']           0
128304        of combat        ['of', 'combat']     ['IN', 'NN']           0

In [240]:
bad_bi = bad_bi.append(shake_bi.iloc[[35796]], ignore_index=True)

In [241]:
print('Number of bad bigram titles:', len(bad_bi))

Number of bad bigram titles: 122

In [242]:
bigram_titles = good_bi.append(bad_bi)
len(bigram_titles)

244

In [243]:
bigram_titles.sample(10)

                  title            title_tokenized         pos_tag good_title
54   signifying nothing  ['signifying', 'nothing']   ['VBG', 'NN']          1
105       witching time       ['witching', 'time']    ['NN', 'NN']          1
110   superfluous death   ['superfluous', 'death']    ['JJ', 'NN']          1
120          marked him          ['marked', 'him']  ['VBD', 'PRP']          0
81           knees than          ['knees', 'than']   ['NNS', 'IN']          0
13      themselves with     ['themselves', 'with']   ['PRP', 'IN']          0
104       the mousetrap       ['the', 'mousetrap']    ['DT', 'NN']          1
110            fitted ,            ['fitted', ',']    ['VBN', ',']          0
82          sad cypress         ['sad', 'cypress']    ['JJ', 'NN']          1
54          are tougher         ['are', 'tougher']   ['VBP', 'RB']          0

In [440]:
datapath = '../data'

datapath_bigram_titles = os.path.join(datapath, 'bigram_titles.csv')
bigram_titles.to_csv(datapath_bigram_titles, index=False)

In [244]:
good_tri = good_tri[['Title', 'title_tokenized', 'pos_tag']].rename(columns={'Title':'title'})
good_tri['good_title'] = 1

In [245]:
tri_pos = good_tri.pos_tag.value_counts().reset_index()

In [246]:
pos_list = []
for i, row in tri_pos.iterrows():
    if row.pos_tag >= 5:
        pos_list.append(row['index'])

print(pos_list)

["['NN', 'IN', 'NN']", "['DT', 'JJ', 'NN']", "['NN', 'POS', 'NN']", "['NNS', 'IN', 'NN']", "['NN', 'CC', 'NN']"]

In [247]:
shake_tri = shake_tri[~shake_tri['pos_tag'].isin(pos_list)].reset_index(drop=True)
shake_tri.drop(columns=['title_pos'], inplace=True)

In [248]:
shake_tri['good_title'] = 0
shake_tri.sample(5)

,title,title_tokenized,pos_tag,good_title
427575,this city. and,"['this', 'city.', 'and']","['DT', 'NN', 'CC']",0
212147,hold a rival,"['hold', 'a', 'rival']","['VB', 'DT', 'JJ']",0
305457,not monstrous that,"['not', 'monstrous', 'that']","['RB', 'JJ', 'IN']",0
335421,pattern of all,"['pattern', 'of', 'all']","['NN', 'IN', 'DT']",0
141983,doth combine .,"['doth', 'combine', '.']","['DT', 'NN', '.']",0

In [249]:
bad_tri = pd.DataFrame(columns=['title', 'title_tokenized', 'pos_tag', 'good_title'])
bad_tri

Empty DataFrame
Columns: [title, title_tokenized, pos_tag, good_title]
Index: []

In [703]:
shake_tri.sample(13)

,title,title_tokenized,pos_tag,good_title
128218,"credit , come","['credit', ',', 'come']","['NN', ',', 'VB']",0
256829,let me have,"['let', 'me', 'have']","['VB', 'PRP', 'VB']",0
467222,wanton summer air,"['wanton', 'summer', 'air']","['NN', 'NN', 'NN']",0
453520,"topmost , what","['topmost', ',', 'what']","['NN', ',', 'WP']",0
25362,", horse to","[',', 'horse', 'to']","[',', 'NN', 'TO']",0
335892,pearl in every,"['pearl', 'in', 'every']","['NN', 'IN', 'DT']",0
125542,contradiction you shall,"['contradiction', 'you', 'shall']","['NN', 'PRP', 'MD']",0
317565,of pity !,"['of', 'pity', '!']","['IN', 'NN', '.']",0
409093,the melancholy jaques,"['the', 'melancholy', 'jaques']","['DT', 'NN', 'NNS']",0
182824,"grow to ,","['grow', 'to', ',']","['NN', 'TO', ',']",0
332858,"own foes ,","['own', 'foes', ',']","['JJ', 'NNS', ',']",0
391710,talk not of,"['talk', 'not', 'of']","['NN', 'RB', 'IN']",0
467808,warwick to these,"['warwick', 'to', 'these']","['NN', 'TO', 'DT']",0

In [704]:
bad_tri = bad_tri.append(shake_tri.iloc[[335892]], ignore_index=True)

In [705]:
print('Number of bad trigram titles:', len(bad_tri))

Number of bad trigram titles: 194

In [706]:
bad_tri.pos_tag.value_counts()

['NN', 'IN', 'PRP$']    5
['PRP', 'RB', 'VB']     3
['JJ', 'NN', 'IN']      3
['NN', 'IN', 'DT']      3
['PRP$', 'NN', 'IN']    3
                       ..
['CC', 'JJ', 'NN']      1
['VB', 'IN', 'NN']      1
['PRP$', 'CC', 'NN']    1
['VBG', 'PRP', 'DT']    1
[',', 'IN', 'JJ']       1
Name: pos_tag, Length: 165, dtype: int64

In [708]:
trigram_titles = good_tri.append(bad_tri)
len(trigram_titles)

388

In [710]:
trigram_titles.sample(10)

,title,title_tokenized,pos_tag,good_title
97,romeo and juliet,"['romeo', 'and', 'juliet']","['NN', 'CC', 'NN']",1
14,", beside forfeiting","[',', 'beside', 'forfeiting']","[',', 'IN', 'VBG']",0
64,the yellow leaf,"['the', 'yellow', 'leaf']","['DT', 'JJ', 'NN']",1
110,brave new world,"['brave', 'new', 'world']","['VB', 'JJ', 'NN']",1
149,on life and,"['on', 'life', 'and']","['IN', 'NN', 'CC']",0
101,faint cold fear,"['faint', 'cold', 'fear']","['NN', 'VBD', 'NN']",1
138,frailty thy name,"['frailty', 'thy', 'name']","['NN', 'NN', 'NN']",1
84,go i toward,"['go', 'i', 'toward']","['VB', 'JJ', 'IN']",0
1,the devil drives,"['the', 'devil', 'drives']","['DT', 'NN', 'NNS']",1
113,alms for oblivion,"['alms', 'for', 'oblivion']","['NNS', 'IN', 'NN']",1

In [711]:
datapath_trigram_titles = os.path.join(datapath, 'trigram_titles.csv')
trigram_titles.to_csv(datapath_trigram_titles, index=False)

In [715]:
good_four = good_four[['Title', 'title_tokenized', 'pos_tag']].rename(columns={'Title':'title'})
good_four['good_title'] = 1

In [719]:
four_pos = good_four.pos_tag.value_counts().reset_index()

In [720]:
pos_list = []
for i, row in four_pos.iterrows():
    if row.pos_tag >= 5:
        pos_list.append(row['index'])

print(pos_list)

["['DT', 'NN', 'IN', 'NN']", "['NN', 'IN', 'DT', 'NN']", "['DT', 'NN', 'POS', 'NN']", "['DT', 'NNS', 'IN', 'NN']", "['DT', 'NN', 'IN', 'NNS']"]

In [721]:
shake_four = shake_four[~shake_four['pos_tag'].isin(pos_list)].reset_index(drop=True)
shake_four.drop(columns=['title_pos'], inplace=True)

In [722]:
shake_four['good_title'] = 0
shake_four.sample(5)

,title,title_tokenized,pos_tag,good_title
507520,to know the language,"['to', 'know', 'the', 'language']","['TO', 'VB', 'DT', 'NN']",0
427728,"so apparent , then","['so', 'apparent', ',', 'then']","['RB', 'JJ', ',', 'RB']",0
396614,proved far worse than,"['proved', 'far', 'worse', 'than']","['VBN', 'RB', 'JJR', 'IN']",0
163959,deserved this hearing --,"['deserved', 'this', 'hearing', '--']","['VBN', 'DT', 'NN', ':']",0
42666,", my dignity would","[',', 'my', 'dignity', 'would']","[',', 'PRP$', 'NN', 'MD']",0

In [723]:
bad_four = pd.DataFrame(columns=['title', 'title_tokenized', 'pos_tag', 'good_title'])
bad_four

Empty DataFrame
Columns: [title, title_tokenized, pos_tag, good_title]
Index: []

In [1054]:
shake_four.sample(20)

,title,title_tokenized,pos_tag,good_title
186027,"farewell , gentle mistress","['farewell', ',', 'gentle', 'mistress']","['NN', ',', 'JJ', 'NN']",0
368655,of other place. the,"['of', 'other', 'place.', 'the']","['IN', 'JJ', 'NN', 'DT']",0
549845,whom thou hast misled,"['whom', 'thou', 'hast', 'misled']","['WP', 'VBD', 'NN', 'VBD']",0
122749,"bearing , and ,","['bearing', ',', 'and', ',']","['NN', ',', 'CC', ',']",0
400698,receive each other. god,"['receive', 'each', 'other.', 'god']","['JJ', 'DT', 'NN', 'NN']",0
436267,"stand up , i","['stand', 'up', ',', 'i']","['VB', 'RP', ',', 'NN']",0
48656,", since i heard","[',', 'since', 'i', 'heard']","[',', 'IN', 'NN', 'NN']",0
510871,to signify their coming,"['to', 'signify', 'their', 'coming']","['TO', 'VB', 'PRP$', 'VBG']",0
452592,that i bid you,"['that', 'i', 'bid', 'you']","['IN', 'JJ', 'NN', 'PRP']",0
331931,more owing her than,"['more', 'owing', 'her', 'than']","['RBR', 'VBG', 'PRP$', 'IN']",0
219712,hath detain 'd me,"['hath', 'detain', ""'d"", 'me']","['NN', 'NN', 'IN', 'PRP']",0
229823,"he was retrograde ,","['he', 'was', 'retrograde', ',']","['PRP', 'VBD', 'VBN', ',']",0
141496,by my penny of,"['by', 'my', 'penny', 'of']","['IN', 'PRP$', 'NN', 'IN']",0
430040,so to do good,"['so', 'to', 'do', 'good']","['RB', 'TO', 'VB', 'JJ']",0
224488,have the office opposite,"['have', 'the', 'office', 'opposite']","['VB', 'DT', 'NN', 'NN']",0
366349,of his argument. i,"['of', 'his', 'argument.', 'i']","['IN', 'PRP$', 'NN', 'NN']",0
89079,and for this time,"['and', 'for', 'this', 'time']","['CC', 'IN', 'DT', 'NN']",0
198449,ford differs ! to,"['ford', 'differs', '!', 'to']","['NN', 'VBZ', '.', 'TO']",0
80418,all these i better,"['all', 'these', 'i', 'better']","['PDT', 'DT', 'NNS', 'VBP']",0
543832,when thou art king,"['when', 'thou', 'art', 'king']","['WRB', 'JJ', 'NN', 'NN']",0

In [1055]:
bad_four = bad_four.append(shake_four.iloc[[331931]], ignore_index=True)
print('Number of bad fourgram titles:', len(bad_four))

Number of bad fourgram titles: 170

In [1057]:
bad_four.pos_tag.value_counts()

['MD', '.', 'NN', ',']         1
['VB', 'PRP$', 'NNS', 'IN']    1
['RB', 'PRP', 'VBZ', 'DT']     1
['VBZ', 'DT', 'NN', 'IN']      1
['VB', 'VBN', ',', 'CC']       1
                              ..
['MD', 'VB', 'PRP', 'IN']      1
['CC', 'VB', 'VBP', 'DT']      1
['IN', 'PRP', '.', 'NNS']      1
['NN', 'VBZ', 'CC', 'DT']      1
['NN', 'IN', 'PRP', 'TO']      1
Name: pos_tag, Length: 170, dtype: int64

In [970]:
bad_four

,title,title_tokenized,pos_tag,good_title,title_pos
0,with him ? knows,"['with', 'him', '?', 'knows']","['IN', 'PRP', '.', 'NNS']",0,NaN
1,is good for your,"['is', 'good', 'for', 'your']","['VBZ', 'JJ', 'IN', 'PRP$']",0,NaN
2,man ? thy form,"['man', '?', 'thy', 'form']","['NN', '.', 'JJ', 'NN']",0,NaN
3,traitorous father are not,"['traitorous', 'father', 'are', 'not']","['JJ', 'NN', 'VBP', 'RB']",0,NaN
4,? wast thou in,"['?', 'wast', 'thou', 'in']","['.', 'JJS', 'NN', 'IN']",0,NaN
...,...,...,...,...,...
128,yet there want not,"['yet', 'there', 'want', 'not']","['RB', 'EX', 'VBP', 'RB']",0,NaN
129,too wildly and my,"['too', 'wildly', 'and', 'my']","['RB', 'RB', 'CC', 'PRP$']",0,NaN
130,he did so set,"['he', 'did', 'so', 'set']","['PRP', 'VBD', 'RB', 'VB']",0,NaN
131,her they are the,"['her', 'they', 'are', 'the']","['PRP$', 'PRP', 'VBP', 'DT']",0,NaN
132,and in his own,"['and', 'in', 'his', 'own']","['CC', 'IN', 'PRP$', 'JJ']",0,NaN

In [1047]:
bad_four.drop(index=[55, 144, 169], inplace=True)

In [1058]:
fourgram_titles = good_four.append(bad_four)
len(fourgram_titles)

340

In [1060]:
fourgram_titles.drop(columns=['title_pos'], inplace=True)

In [1062]:
fourgram_titles.sample(10)

,title,title_tokenized,pos_tag,good_title
135,the insolence of office,"['the', 'insolence', 'of', 'office']","['DT', 'NN', 'IN', 'NN']",1
117,infants of the spring,"['infants', 'of', 'the', 'spring']","['NNS', 'IN', 'DT', 'NN']",1
55,told by an idiot,"['told', 'by', 'an', 'idiot']","['VBN', 'IN', 'DT', 'NN']",1
137,would drive me into,"['would', 'drive', 'me', 'into']","['MD', 'VB', 'PRP', 'IN']",0
81,for it has been,"['for', 'it', 'has', 'been']","['IN', 'PRP', 'VBZ', 'VBN']",0
161,"accomplished , and ,","['accomplished', ',', 'and', ',']","['VBN', ',', 'CC', ',']",0
19,of his oath to,"['of', 'his', 'oath', 'to']","['IN', 'PRP$', 'NN', 'TO']",0
161,the readiness is all,"['the', 'readiness', 'is', 'all']","['DT', 'NN', 'VBZ', 'DT']",1
66,"lord, what fools","['lord', ',', 'what', 'fools']","['NN', ',', 'WP', 'VBD']",1
100,i knew what you,"['i', 'knew', 'what', 'you']","['NN', 'VBD', 'WP', 'PRP']",0

In [1063]:
datapath_fourgram_titles = os.path.join(datapath, 'fourgram_titles.csv')
fourgram_titles.to_csv(datapath_fourgram_titles, index=False)

Now that I have rerun the bi-, tri-, and fourgram datasets and removed starting punctuation, I need to remove bad titles starting with punctuation from the above training sets. And I will also split the pos tags here as well

In [1080]:
fourgram_titles.shape

(171, 5)

In [1081]:
fourgram_titles = fourgram_titles.reset_index(drop=True)

In [1086]:
fourgram_titles.drop(columns=['title_pos'], inplace=True)
fourgram_titles.sample(1)

,title,title_tokenized,pos_tag,good_title
55,autumn turned to the,"['autumn', 'turned', 'to', 'the']","['NN', 'VBD', 'TO', 'DT']",0

In [1083]:
good_four.sample(1)

,title,title_tokenized,pos_tag,good_title
99,this spring of love,"['this', 'spring', 'of', 'love']","['DT', 'NN', 'IN', 'NN']",1

In [1093]:
fourgram_titles = fourgram_titles.append(good_four).reset_index(drop=True)
fourgram_titles.shape

(507, 4)

In [1094]:
fourgram_titles = fourgram_titles.drop_duplicates()
fourgram_titles.shape

(338, 4)

In [1095]:
fourgram_titles.good_title.value_counts()

1    170
0    168
Name: good_title, dtype: int64

Deleting the titles: ', but i think', ', thou borest thy', '? wast thou in', ''pale cast...'

In [1090]:
fourgram_titles = fourgram_titles.drop(index=[4,16,146])
fourgram_titles.shape

(337, 4)

There is a title 'pale cast...' that is an actual title. Either way, it does not belong on this list, but on the trigram list.  Will add it back. But first, I need new bad titles.

In [1097]:
pale_cast = fourgram_titles.iloc[306]
pale_cast

title                             'pale cast...'
title_tokenized    ["'pale", 'cast', '...', "'"]
pos_tag                  ['JJ', 'NN', ':', "''"]
good_title                                     1
Name: 306, dtype: object

In [1098]:
fourgram_titles = fourgram_titles.drop(index=[306])
fourgram_titles.value_counts()

title                   title_tokenized                      pos_tag                      good_title
your ship and so        ['your', 'ship', 'and', 'so']        ['PRP$', 'NN', 'CC', 'RB']   0             1
how now ? do            ['how', 'now', '?', 'do']            ['WRB', 'RB', '.', 'VB']     0             1
him do after him        ['him', 'do', 'after', 'him']        ['PRP', 'VBP', 'IN', 'PRP']  0             1
him good. but now       ['him', 'good.', 'but', 'now']       ['PRP', 'VBP', 'CC', 'RB']   0             1
him tractable to us     ['him', 'tractable', 'to', 'us']     ['PRP', 'JJ', 'TO', 'PRP']   0             1
                                                                                                       ..
that makes amends for   ['that', 'makes', 'amends', 'for']   ['DT', 'VBZ', 'NNS', 'IN']   0             1
that may be must        ['that', 'may', 'be', 'must']        ['DT', 'MD', 'VB', 'MD']     0             1
that might rightly say  ['that', 'might', 'rightly', 'say']  ['WDT', 'MD', 'RB', 'VB']    0             1
that sense did make     ['that', 'sense', 'did', 'make']     ['DT', 'NN', 'VBD', 'VB']    0             1
a brother's murder      ['a', 'brother', "'s", 'murder']     ['DT', 'NN', 'POS', 'NN']    1             1
Length: 337, dtype: int64

In [1100]:
fourgram_titles.good_title.value_counts()

1    169
0    168
Name: good_title, dtype: int64

In [1101]:
shake_four.sample(15)

,title,title_tokenized,pos_tag,good_title
243835,his mind be writ,"['his', 'mind', 'be', 'writ']","['PRP$', 'NN', 'VB', 'JJ']",0
345713,needful value. we shall,"['needful', 'value.', 'we', 'shall']","['JJ', 'NN', 'PRP', 'MD']",0
494001,thou shalt to prison,"['thou', 'shalt', 'to', 'prison']","['NN', 'NN', 'TO', 'NN']",0
302909,lets grow the weeding,"['lets', 'grow', 'the', 'weeding']","['NNS', 'VBP', 'DT', 'NN']",0
421684,should they mock poor,"['should', 'they', 'mock', 'poor']","['MD', 'PRP', 'VB', 'JJ']",0
197101,"for this fault ,","['for', 'this', 'fault', ',']","['IN', 'DT', 'NN', ',']",0
397544,put me now to,"['put', 'me', 'now', 'to']","['VB', 'PRP', 'RB', 'TO']",0
178981,"enter constance , arthur","['enter', 'constance', ',', 'arthur']","['NN', 'NN', ',', 'NN']",0
196947,for there will be,"['for', 'there', 'will', 'be']","['IN', 'EX', 'MD', 'VB']",0
484057,they so shriek abroad,"['they', 'so', 'shriek', 'abroad']","['PRP', 'RB', 'VBD', 'RB']",0
40973,", lord chamberlain ?","[',', 'lord', 'chamberlain', '?']","[',', 'NN', 'NN', '.']",0
360822,o ' the coxcombs,"['o', ""'"", 'the', 'coxcombs']","['NN', ""''"", 'DT', 'NN']",0
369467,"of slender reputation ,","['of', 'slender', 'reputation', ',']","['IN', 'JJR', 'NN', ',']",0
8351,'in time the savage,"[""'in"", 'time', 'the', 'savage']","['JJ', 'NN', 'DT', 'NN']",0
223032,have look 'd upon,"['have', 'look', ""'d"", 'upon']","['VB', 'NN', 'CD', 'IN']",0

In [1102]:
fourgram_titles = fourgram_titles.append(shake_four.iloc[[302909]], ignore_index=True)
fourgram_titles.good_title.value_counts()

1    169
0    169
Name: good_title, dtype: int64

In [1103]:
four_list = fourgram_titles.pos_tag.tolist()
four_list[10:15]

["['VBN', 'IN', '.', 'MD']",
 "['PRP', 'JJ', 'TO', 'PRP']",
 "['IN', 'NNS', 'IN', 'DT']",
 "['VBD', 'JJ', 'RB', 'TO']",
 "['CC', 'DT', 'JJ', 'NN']"]

In [1104]:
new_four_list = [(f.replace("[","").replace("]", "").replace("'","").split(", ")) for f in four_list]
new_four_list[10:15]

[['VBN', 'IN', '.', 'MD'],
 ['PRP', 'JJ', 'TO', 'PRP'],
 ['IN', 'NNS', 'IN', 'DT'],
 ['VBD', 'JJ', 'RB', 'TO'],
 ['CC', 'DT', 'JJ', 'NN']]

In [1105]:
fourgram_titles['pos'] = new_four_list
fourgram_titles.sample(5)

,title,title_tokenized,pos_tag,good_title,pos
171,no enemy but winter,"['no', 'enemy', 'but', 'winter']","['DT', 'NN', 'CC', 'NN']",1,"[DT, NN, CC, NN]"
132,that makes amends for,"['that', 'makes', 'amends', 'for']","['DT', 'VBZ', 'NNS', 'IN']",0,"[DT, VBZ, NNS, IN]"
133,new hat and an,"['new', 'hat', 'and', 'an']","['JJ', 'NN', 'CC', 'DT']",0,"[JJ, NN, CC, DT]"
30,strike and to make,"['strike', 'and', 'to', 'make']","['NN', 'CC', 'TO', 'VB']",0,"[NN, CC, TO, VB]"
293,though this be madness,"['though', 'this', 'be', 'madness']","['IN', 'DT', 'VB', 'NN']",1,"[IN, DT, VB, NN]"

In [1107]:
pos_list4 = fourgram_titles.pos.tolist()
pos_list4[10:15]

[['VBN', 'IN', '.', 'MD'],
 ['PRP', 'JJ', 'TO', 'PRP'],
 ['IN', 'NNS', 'IN', 'DT'],
 ['VBD', 'JJ', 'RB', 'TO'],
 ['CC', 'DT', 'JJ', 'NN']]

In [1108]:
pos1 = []
pos2 = []
pos3 = []
pos4 = []

for i in pos_list4:
    pos1.append(i[0])
    pos2.append(i[1])
    pos3.append(i[2])
    pos4.append(i[3])
    
fourgram_titles['pos1'] = pos1
fourgram_titles['pos2'] = pos2
fourgram_titles['pos3'] = pos3
fourgram_titles['pos4'] = pos4

fourgram_titles.sample(5)

,title,title_tokenized,pos_tag,good_title,pos,pos1,pos2,pos3,pos4
63,remedy ? as there,"['remedy', '?', 'as', 'there']","['NN', '.', 'IN', 'EX']",0,"[NN, ., IN, EX]",NN,.,IN,EX
12,than camels in the,"['than', 'camels', 'in', 'the']","['IN', 'NNS', 'IN', 'DT']",0,"[IN, NNS, IN, DT]",IN,NNS,IN,DT
8,your ship and so,"['your', 'ship', 'and', 'so']","['PRP$', 'NN', 'CC', 'RB']",0,"[PRP$, NN, CC, RB]",PRP$,NN,CC,RB
189,evil that men do,"['evil', 'that', 'men', 'do']","['NN', 'IN', 'NNS', 'VBP']",1,"[NN, IN, NNS, VBP]",NN,IN,NNS,VBP
265,the jaws of death,"['the', 'jaws', 'of', 'death']","['DT', 'NN', 'IN', 'NN']",1,"[DT, NN, IN, NN]",DT,NN,IN,NN

In [1109]:
fourgram_titles.good_title.value_counts()

1    169
0    169
Name: good_title, dtype: int64

In [1110]:
datapath = '../data'

datapath_fourgram_titles = os.path.join(datapath, 'fourgram_titles_pos.csv')
fourgram_titles.to_csv(datapath_fourgram_titles, index=False)

In [1112]:
pale_cast

title                             'pale cast...'
title_tokenized    ["'pale", 'cast', '...', "'"]
pos_tag                  ['JJ', 'NN', ':', "''"]
good_title                                     1
Name: 306, dtype: object

pos tag for JJ is adjective, so the tag is still correct

In [1113]:
pale_cast['title'] = "pale cast..."
pale_cast['title_tokenized'] = "['pale', 'cast', '...', ]"
pale_cast['pos_tag'] = "['JJ', 'NN', ':']"
pale_cast

title                           pale cast...
title_tokenized    ['pale', 'cast', '...', ]
pos_tag                    ['JJ', 'NN', ':']
good_title                                 1
Name: 306, dtype: object

In [1116]:
trigram_titles.shape

(388, 4)

In [1117]:
trigram_titles = trigram_titles.append(pale_cast, ignore_index=True)
trigram_titles.shape

(389, 4)

In [1130]:
#trigram_titles = trigram_titles.drop(index=[264, 196, 202, 208, 277, 312, 326])
trigram_titles.good_title.value_counts()

1    195
0    187
Name: good_title, dtype: int64

In [1178]:
shake_tri.sample(10)

,title,title_tokenized,pos_tag,good_title
484684,vherefore vill you,"['vherefore', 'vill', 'you']","['NN', 'NN', 'PRP']",0
231103,i never heard,"['i', 'never', 'heard']","['NN', 'RB', 'VBD']",0
367932,rude multitude till,"['rude', 'multitude', 'till']","['JJ', 'NN', 'NN']",0
252095,"issue die ,","['issue', 'die', ',']","['NN', 'NN', ',']",0
421926,the fairy land,"['the', 'fairy', 'land']","['DT', 'NN', 'NN']",0
14566,'twere as easy,"[""'twere"", 'as', 'easy']","['RB', 'IN', 'JJ']",0
416029,that soundly .,"['that', 'soundly', '.']","['DT', 'RB', '.']",0
5367,'d leave your,"[""'d"", 'leave', 'your']","['MD', 'VB', 'PRP$']",0
290601,met once again,"['met', 'once', 'again']","['VBN', 'RB', 'RB']",0
253016,it do singe,"['it', 'do', 'singe']","['PRP', 'VBP', 'VB']",0

In [1180]:
trigram_titles = trigram_titles.append(shake_tri.iloc[[383166]])

In [1181]:
trigram_titles.good_title.value_counts()

1    195
0    195
Name: good_title, dtype: int64

In [1184]:
dup = trigram_titles.duplicated()
trigram_titles[dup]

Empty DataFrame
Columns: [title, title_tokenized, pos_tag, good_title]
Index: []

In [1185]:
trigram_titles.reset_index(drop=True, inplace=True)

In [1187]:
tri_list = trigram_titles.pos_tag.tolist()
tri_list[10:15]

["['JJ', 'IN', 'NN']",
 "['DT', 'JJ', 'NN']",
 "['NN', 'POS', 'NN']",
 "['CD', 'JJ', 'NNS']",
 "['IN', 'DT', 'NN']"]

In [1188]:
new_tri_list = [(t.replace("[","").replace("]", "").replace("'","").split(", ")) for t in tri_list]
new_tri_list[10:15]

[['JJ', 'IN', 'NN'],
 ['DT', 'JJ', 'NN'],
 ['NN', 'POS', 'NN'],
 ['CD', 'JJ', 'NNS'],
 ['IN', 'DT', 'NN']]

In [1189]:
trigram_titles['pos'] = new_tri_list
trigram_titles.sample(5)

,title,title_tokenized,pos_tag,good_title,pos
182,a ministering angel,"['a', 'ministering', 'angel']","['DT', 'NN', 'NN']",1,"[DT, NN, NN]"
159,flesh is heir,"['flesh', 'is', 'heir']","['NN', 'VBZ', 'JJ']",1,"[NN, VBZ, JJ]"
83,lords and ladies,"['lords', 'and', 'ladies']","['NNS', 'CC', 'NNS']",1,"[NNS, CC, NNS]"
284,"prince , whose","['prince', ',', 'whose']","['NN', ',', 'WP$']",0,"[NN, ,, WP$]"
365,keeps you from,"['keeps', 'you', 'from']","['NNS', 'PRP', 'IN']",0,"[NNS, PRP, IN]"

In [1190]:
pos3_list = trigram_titles.pos.tolist()
pos3_list[60:65]

[['NN', 'IN', 'NN'],
 ['NN', 'IN', 'VBG'],
 ['RB', 'JJ', 'NN'],
 ['NNS', 'IN', 'NN'],
 ['DT', 'JJ', 'NN']]

In [1191]:
pos1 = []
pos2 = []
pos3 = []

for i in pos3_list:
    pos1.append(i[0])
    pos2.append(i[1])
    pos3.append(i[2])
    
trigram_titles['pos1'] = pos1
trigram_titles['pos2'] = pos2
trigram_titles['pos3'] = pos3

trigram_titles.sample(5)

,title,title_tokenized,pos_tag,good_title,pos,pos1,pos2,pos3
167,speak the speech,"['speak', 'the', 'speech']","['VB', 'DT', 'NN']",1,"[VB, DT, NN]",VB,DT,NN
92,this blessed plot,"['this', 'blessed', 'plot']","['DT', 'VBD', 'NN']",1,"[DT, VBD, NN]",DT,VBD,NN
340,tearing groan did,"['tearing', 'groan', 'did']","['VBG', 'NN', 'VBD']",0,"[VBG, NN, VBD]",VBG,NN,VBD
300,leads a very,"['leads', 'a', 'very']","['VBZ', 'DT', 'RB']",0,"[VBZ, DT, RB]",VBZ,DT,RB
39,act of darkness,"['act', 'of', 'darkness']","['NN', 'IN', 'NN']",1,"[NN, IN, NN]",NN,IN,NN

In [1192]:
datapath_trigram_titles = os.path.join(datapath, 'trigram_titles_pos.csv')
trigram_titles.to_csv(datapath_trigram_titles, index=False)

Lastly, the bigrams. Again.

In [1194]:
bigram_titles.sample(5)

              title         title_tokenized        pos_tag good_title
31  golden opinions  ['golden', 'opinions']  ['JJ', 'NNS']          1
35    painted devil    ['painted', 'devil']  ['VBN', 'NN']          1
69      happy haven      ['happy', 'haven']   ['JJ', 'NN']          1
15        name well        ['name', 'well']   ['NN', 'RB']          0
55     charmed life     ['charmed', 'life']  ['VBN', 'NN']          1

In [1205]:
bigram_titles = bigram_titles.drop(index=[138, 150, 207])

In [1206]:
bigram_titles.good_title.value_counts()

1    122
0    119
Name: good_title, dtype: int64

In [1212]:
shake_bi.sample(10)

                title       title_tokenized         pos_tag  good_title
52126     cinque pace    ['cinque', 'pace']    ['NN', 'NN']           0
185804    shall lewis    ['shall', 'lewis']    ['MD', 'VB']           0
166270    persuade my    ['persuade', 'my']  ['VB', 'PRP$']           0
225959  times refigur  ['times', 'refigur']  ['NNS', 'VBP']           0
66025         ditty ,        ['ditty', ',']     ['NN', ',']           0
153726   occupation !   ['occupation', '!']     ['NN', '.']           0
89258      given thee     ['given', 'thee']  ['VBN', 'NNS']           0
234620        unto us        ['unto', 'us']   ['IN', 'PRP']           0
82320          food ,         ['food', ',']     ['NN', ',']           0
76430         face he        ['face', 'he']   ['NN', 'PRP']           0

In [1214]:
bigram_titles = bigram_titles.append(shake_bi.iloc[[89258]], ignore_index=True)

In [1215]:
bigram_titles.good_title.value_counts()

1    122
0    122
Name: good_title, dtype: int64

In [1216]:
bi_list = bigram_titles.pos_tag.tolist()
bi_list[10:15]

["['JJR', 'NNS']",
 "['JJ', 'NN']",
 "['JJS', 'NN']",
 "['JJ', 'NN']",
 "['JJ', 'NN']"]

In [1217]:
new_bi_list = [(b.replace("[","").replace("]", "").replace("'","").split(", ")) for b in bi_list]
new_bi_list[10:15]

[['JJR', 'NNS'], ['JJ', 'NN'], ['JJS', 'NN'], ['JJ', 'NN'], ['JJ', 'NN']]

In [1218]:
bigram_titles['pos'] = new_bi_list
bigram_titles.sample(5)

,title,title_tokenized,pos_tag,good_title,pos
210,wrong gives,"['wrong', 'gives']","['JJ', 'VBZ']",0,"[JJ, VBZ]"
164,have five,"['have', 'five']","['VBP', 'CD']",0,"[VBP, CD]"
165,here recover,"['here', 'recover']","['RB', 'VB']",0,"[RB, VB]"
128,you hates,"['you', 'hates']","['PRP', 'NNS']",0,"[PRP, NNS]"
73,glorious summer,"['glorious', 'summer']","['JJ', 'NN']",1,"[JJ, NN]"

In [1219]:
pos2_list = bigram_titles.pos.tolist()

In [1220]:
pos1 = []
pos2 = []


for i in pos2_list:
    pos1.append(i[0])
    pos2.append(i[1])

    
bigram_titles['pos1'] = pos1
bigram_titles['pos2'] = pos2

bigram_titles.sample(5)

,title,title_tokenized,pos_tag,good_title,pos,pos1,pos2
119,fire burn,"['fire', 'burn']","['NN', 'NN']",1,"[NN, NN]",NN,NN
180,stretched along,"['stretched', 'along']","['VBN', 'IN']",0,"[VBN, IN]",VBN,IN
203,that guided,"['that', 'guided']","['DT', 'VBD']",0,"[DT, VBD]",DT,VBD
142,that mounts,"['that', 'mounts']","['DT', 'NNS']",0,"[DT, NNS]",DT,NNS
187,wearing his,"['wearing', 'his']","['VBG', 'PRP$']",0,"[VBG, PRP$]",VBG,PRP$

In [1221]:
datapath_bigram_titles = os.path.join(datapath, 'bigram_titles_pos.csv')
bigram_titles.to_csv(datapath_bigram_titles, index=False)