In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import os

In [2]:
trishake = pd.read_pickle('../data/shakespearean_trigrams.pkl')

In [3]:
trishake.head()

,title,pos,pos1,pos2,pos3,title_token,word_vec,all_pos,dp1_pos,w2v
1576,a ! that,"['DT', '.', 'IN']",DT,.,IN,"[a, !, that]","[[0.0037827007, 0.38528407, -0.89005077, 0.681...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0037827007, 0.38528407, -0.89005077, 0.6813..."
1594,a ' have,"['DT', 'POS', 'VBP']",DT,POS,VBP,"[a, ', have]","[[0.0037827007, 0.38528407, -0.89005077, 0.681...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0037827007, 0.38528407, -0.89005077, 0.6813..."
1596,a ' lies,"['DT', 'POS', 'NNS']",DT,POS,NNS,"[a, ', lies]","[[0.0037827007, 0.38528407, -0.89005077, 0.681...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0037827007, 0.38528407, -0.89005077, 0.6813..."
1614,a ' show,"['DT', 'POS', 'NN']",DT,POS,NN,"[a, ', show]","[[0.0037827007, 0.38528407, -0.89005077, 0.681...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0037827007, 0.38528407, -0.89005077, 0.6813..."
1624,a 'never .,"['DT', 'NN', '.']",DT,NN,.,"[a, 'never, .]","[[0.0037827007, 0.38528407, -0.89005077, 0.681...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0037827007, 0.38528407, -0.89005077, 0.6813..."

In [4]:
trigram_df1 = trishake[['title', 'w2v', 'dp1_pos']]
trigram_df1.sample()

,title,w2v,dp1_pos
38851,are not finely,"[0.10258133, 0.1857546, -0.4427636, -2.0342126...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [5]:
word_vec2 = trigram_df1['w2v'].apply(lambda x: list(x))

In [6]:
trigram_df1['w2v'] = word_vec2

<ipython-input-6-95fa05c39137>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trigram_df1['w2v'] = word_vec2

In [7]:
w2v_dp1_pos = trigram_df1[['w2v', 'dp1_pos']]
w2v_dp1 = w2v_dp1_pos.values.tolist()

print('Length of w2v_dp1 list:', len(w2v_dp1))
print('Length of first element of w2v_dp1 list:', len(w2v_dp1[0]))
print('Length of first element of inner list:', len(w2v_dp1[0][0]))
print('Type of first element of inner list:', type(w2v_dp1[0][0]))
print('Length of seceond element of inner list', len(w2v_dp1[0][1]))
print('Type of element of inner list', type(w2v_dp1[0][1]))

Length of w2v_dp1 list: 463010
Length of first element of w2v_dp1 list: 2
Length of first element of inner list: 600
Type of first element of inner list: <class 'list'>
Length of seceond element of inner list 78
Type of element of inner list <class 'list'>

In [8]:
new_w2v_dp1 = []

for i in range(len(w2v_dp1)):
    new_w2v_dp1.append(w2v_dp1[i][0] + w2v_dp1[i][1])
    
print('Length of new_w2v_dp1', len(new_w2v_dp1))
print('Length of inner list', len(new_w2v_dp1[0]))

Length of new_w2v_dp1 463010
Length of inner list 678

In [9]:
trigram_df1['w2v_dp1'] = new_w2v_dp1
trigram_df1.sample()

<ipython-input-9-fc4abffa4148>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trigram_df1['w2v_dp1'] = new_w2v_dp1

,title,w2v,dp1_pos,w2v_dp1
287204,or we are,"[-0.803149, -1.3047632, -0.17579114, -0.716032...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.803149, -1.3047632, -0.17579114, -0.716032..."

In [10]:
trigram_df1.drop(columns=['w2v', 'dp1_pos'], inplace=True)
trigram_df1.sample()

C:\Users\gcn4\anaconda3\lib\site-packages\pandas\core\frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

             title                                            w2v_dp1
264571  not here ,  [-0.47713593, -0.14395861, -1.2070161, 0.00510...

In [11]:
trigram_df1.index.is_unique

True

In [12]:
trigram_df1.shape

(463010, 2)

In [14]:
463010*0.2

92602.0

In [15]:
trigram_df1_set1 = trigram_df1.iloc[:92602,:]
trigram_df1_set1.shape

(92602, 2)

I've crashed twice trying to save this dataframe. Fingers crossed that now that it is as small as it can be, that it will work this time. Update: Nope! Feather does not support object type columns, so that's a no. I've read that HDF5 is slower than pickle, and consumes up a lot of memory.  I will try parquet next. Or maybe split into small dataframes.

In [18]:
datapath = '../data'

datapath_trigram_df1_set1 = os.path.join(datapath, 'trigram_df1_set1.pkl')
trigram_df1_set1.to_pickle(datapath_trigram_df1_set1)

Honestly, forget saving the dataframes. It is quicker just to re-run the code everytime than to watch paint dry for 45 minuntes while saving a df that is 1/5th the size of the whole.

In [24]:
tritles = pd.read_pickle('../data/trigram_titles.pkl')
tritles.head()

,title,good_title,pos,pos1,pos2,pos3,title_token,word_vec,all_pos,dp1_pos,w2v,w2v_all,w2v_dp1
0,all's well,1,"['DT', 'POS', 'NN']",DT,POS,NN,"['all', ""'s"", 'well']",[[-1.81372836e-01 1.97823837e-01 -7.73134887e...,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.181372836, 0.197823837, -0.773134887, -0.1...","[-0.181372836, 0.197823837, -0.773134887, -0.1...","[-0.181372836, 0.197823837, -0.773134887, -0.1..."
1,the devil drives,1,"['DT', 'NN', 'NNS']",DT,NN,NNS,"['the', 'devil', 'drives']",[[-9.59224224e-01 1.22396159e+00 -6.39906406e...,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.959224224, 1.22396159, -0.639906406, -0.51...","[-0.959224224, 1.22396159, -0.639906406, -0.51...","[-0.959224224, 1.22396159, -0.639906406, -0.51..."
2,edge of hazard,1,"['NN', 'IN', 'NN']",NN,IN,NN,"['edge', 'of', 'hazard']",[[-2.87398398e-02 -7.36244917e-02 1.42647075e...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[-0.0287398398, -0.0736244917, 0.0142647075, -...","[-0.0287398398, -0.0736244917, 0.0142647075, -...","[-0.0287398398, -0.0736244917, 0.0142647075, -..."
3,a mingled yarn,1,"['DT', 'VBN', 'NN']",DT,VBN,NN,"['a', 'mingled', 'yarn']",[[ 3.78270075e-03 3.85284066e-01 -8.90050769e...,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.00378270075, 0.385284066, -0.890050769, 0.6...","[0.00378270075, 0.385284066, -0.890050769, 0.6...","[0.00378270075, 0.385284066, -0.890050769, 0.6..."
4,love is enough,1,"['NN', 'VBZ', 'JJ']",NN,VBZ,JJ,"['love', 'is', 'enough']",[[-6.29614413e-01 -7.17607141e-01 -1.16408551e...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[-0.629614413, -0.717607141, -1.16408551, -0.0...","[-0.629614413, -0.717607141, -1.16408551, -0.0...","[-0.629614413, -0.717607141, -1.16408551, -0.0..."

In [26]:
X = tritles['w2v_dp1'].tolist()
y = tritles['good_title'].tolist()

print('X length:', len(X))

X length: 389

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=13)

print('X_train length:', len(X_train))
print('X_test length:', len(X_test))

X_train length: 291
X_test length: 98

### Quick and dirty Gradient Boosting ###

In [28]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report, confusion_matrix, precision_score, recall_score, plot_confusion_matrix
import matplotlib.pyplot as plt

In [29]:
gb = GradientBoostingClassifier(n_estimators=20, learning_rate = 0.25, max_features=3, max_depth=3)
gb.fit(X, y)

GradientBoostingClassifier(learning_rate=0.25, max_features=3, n_estimators=20)

In [51]:
trigrams = trigram_df1['w2v_dp1'].tolist()
len(trigrams)

463010

In [52]:
trigrams_gb_pred = gb.predict(trigrams)
len(trigrams_gb_pred)

463010

In [53]:
trigram_df1['gb_predict'] = trigrams_gb_pred

<ipython-input-53-daa1ff3f230b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trigram_df1['gb_predict'] = trigrams_gb_pred

In [54]:
trigram_df1.sample(10)

,title,w2v_dp1,gb_predict
159254,heart to love,"[-0.34995398, -0.8498512, -0.6974847, -0.21816...",0
226716,madam 's issue,"[0.2680098, -0.7809406, -0.78897244, 0.0469814...",1
60985,blood of those,"[-0.3302138, -0.5080056, -0.067953095, -0.7328...",1
476074,an ass.,"[-0.28528678, -0.17003609, -0.59658694, 0.3876...",0
227646,maid loves you,"[-0.0047082976, -0.4465701, -0.17737678, -0.28...",0
80522,climb a bird,"[-0.06209028, -0.10127903, 0.082172066, -0.074...",1
359991,that ruin 'd,"[-0.64482224, 0.39102697, -1.0360198, -0.16750...",1
340547,speak to lady,"[-0.20972838, -0.3975131, -1.2067038, 0.636167...",0
134143,gave him gentle,"[-0.6026336, 0.1635585, 0.378696, -0.8779464, ...",0
280539,of your servant,"[-0.31132793, -0.26686984, 1.7738771, -0.93247...",1

In [55]:
trigrams_gb_prob = gb.predict_proba(trigrams)
len(trigrams_gb_prob)

463010

In [56]:
trigrams_gb_prob[0]

array([0.82900037, 0.17099963])

In [57]:
trigrams_gb_prob1 = trigrams_gb_prob[:, 1]
len(trigrams_gb_prob1)

463010

In [58]:
trigram_df1['gb_prob_good'] = trigrams_gb_prob1

<ipython-input-58-933cbd19b3fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trigram_df1['gb_prob_good'] = trigrams_gb_prob1

In [60]:
trigram_df1.sample(10)

,title,w2v_dp1,gb_predict,gb_prob_good
26829,and last .,"[-0.10478376, -0.68211913, -0.2959186, -0.3051...",0,0.029097
66122,brought to rome,"[-0.4752566, 0.20057973, -0.15366063, -0.20489...",1,0.510182
478928,say nothing.,"[-0.19100034, -0.52873445, -1.2243825, -0.5014...",0,0.009739
410068,to quench the,"[-1.1612555, 0.4171042, -0.38751802, -0.094741...",0,0.037460
351524,takes a buzzard,"[-0.21287109, 0.026335724, 0.16273732, -0.2999...",1,0.714063
454745,with merry look,"[-0.77490854, 0.077378824, 0.5287661, -0.51774...",0,0.483199
352496,tear her all,"[-0.16486509, -0.16000119, 0.09397901, -0.0616...",0,0.297886
383494,there that knocks,"[-0.8403162, 0.685283, -0.6369833, -0.6525358,...",0,0.447135
189922,in fight many,"[-1.1804608, 0.88281506, 0.58544093, -1.354299...",1,0.557311
77768,chain nor money,"[-0.087801635, -0.087214895, -0.08119573, -0.0...",1,0.829297

In [63]:
trigram_df1.gb_predict.value_counts()

0    316386
1    146624
Name: gb_predict, dtype: int64

In [64]:
best_trigram_df1 = trigram_df1[trigram_df1['gb_prob_good']>0.95]
best_trigram_df1.shape

(5126, 4)

In [65]:
best_trigram_df1.sample(15)

,title,w2v_dp1,gb_predict,gb_prob_good
167949,hire and salary,"[-0.058974907, -0.0484734, -0.005097392, -0.04...",1,0.950857
375572,the treacherous fastolfe,"[-0.9592242, 1.2239616, -0.6399064, -0.5107603...",1,0.962702
40006,argument of laughter,"[-0.009905877, -0.19216216, -0.05747888, -0.13...",1,0.953738
56263,beggar 's shop,"[-0.09412348, -0.21223709, 0.048542943, -0.239...",1,0.962065
40484,array and discovers,"[-0.04561496, -0.052424826, 0.031467166, -0.02...",1,0.951165
349423,sweet and commendable,"[0.13979746, -0.75366306, -0.05499994, -0.0310...",1,0.950857
296730,piece of beef,"[0.029170575, -0.21971823, -0.08739941, -0.201...",1,0.953738
238565,men 's cries,"[0.06564764, -0.24105583, -1.0668426, -0.12901...",1,0.958673
302873,prisoners of esteem,"[-0.012633213, -0.07992697, 0.037501335, -0.02...",1,0.960619
295098,pedlar 's excrement,"[-0.008986839, -0.025809916, -0.008280418, -0....",1,0.958835
365742,the eastern pines,"[-0.9592242, 1.2239616, -0.6399064, -0.5107603...",1,0.954852
317365,scale of dragon,"[-0.0007684338, -0.0397351, 0.029206393, -0.02...",1,0.954029
373751,the self-same sky,"[-0.9592242, 1.2239616, -0.6399064, -0.5107603...",1,0.950114
113458,extremity of dire,"[-0.014517218, -0.123896435, -0.009226918, -0....",1,0.954029
160514,heir of ilion,"[-0.15731333, -0.18852027, 0.20758782, -0.3833...",1,0.953197

*Arguement of Laughter*... *Prisoners of Esteem*... *The Self-Same Sky*... these are amazing. 

I'm not so crazy about *Pedlar's Excrement* though. But you can't win them all.

### Quick and dirty SVM ###

In [67]:
from sklearn import svm

In [71]:
clf = svm.SVC(C=0.01, kernel='linear', probability=True)
clf.fit(X, y)

SVC(C=0.01, kernel='linear', probability=True)

In [69]:
trigrams_svm_pred = clf.predict(trigrams)
len(trigrams_svm_pred)

463010

In [72]:
trigrams_svm_prob = clf.predict_proba(trigrams)
len(trigrams_svm_prob)

463010

In [74]:
trigrams_svm_prob1 = trigrams_svm_prob[:, 1]
len(trigrams_svm_prob1)

463010

In [75]:
trigram_df1['svm_predict'] = trigrams_svm_pred
trigram_df1['svm_prob_good'] = trigrams_svm_prob1

<ipython-input-75-ff71898d9115>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trigram_df1['svm_predict'] = trigrams_svm_pred
<ipython-input-75-ff71898d9115>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trigram_df1['svm_prob_good'] = trigrams_svm_prob1

In [93]:
trigram_df1.sample(5)

,title,w2v_dp1,gb_predict,gb_prob_good,svm_predict,svm_prob_good
304533,proved us unspeaking,"[-0.031515755, -0.13643716, 0.07576506, -0.142...",0,0.480720,1,0.816097
278483,of the policy,"[-0.31132793, -0.26686984, 1.7738771, -0.93247...",1,0.736033,1,0.867704
87227,court ? for,"[-0.08887651, 0.027021643, -0.3681678, -0.1796...",1,0.544628,0,0.003502
414282,"told over ,","[-0.33401957, 0.08277936, -0.21415152, -0.7141...",0,0.213293,0,0.334092
288871,our eyelids sink,"[-0.13563357, 0.89598817, 0.35377324, -0.01002...",1,0.829651,1,0.856944

These are all over the place. Some the same, some so different! Let's dig deeper...

In [94]:
print('Title prediction counts by gb:', trigram_df1.gb_predict.value_counts())
print('Title prediction counts by svm:', trigram_df1.svm_predict.value_counts())

Title prediction counts by gb: 0    316386
1    146624
Name: gb_predict, dtype: int64
Title prediction counts by svm: 0    307504
1    155506
Name: svm_predict, dtype: int64

In [103]:
good_trigram_df1 = trigram_df1[(trigram_df1['gb_predict'] == 1) | (trigram_df1['svm_predict'] == 1)]
len(good_trigram_df1)

190012

In [105]:
good_trigram_df1.sample(5)

,title,w2v_dp1,gb_predict,gb_prob_good,svm_predict,svm_prob_good
104532,drunk for want,"[-0.09995695, -0.13167341, 0.02843242, -0.0306...",1,0.866293,1,0.845226
204437,it is thy,"[-0.8925493, -0.51405305, -1.1422137, 0.412834...",0,0.327066,1,0.562072
243863,more o n't,"[0.5773399, 0.52906954, -0.46397382, 0.5363846...",1,0.573495,1,0.936790
387288,thine only son,"[-0.7671214, -0.17118041, 0.5021301, 0.3575905...",1,0.541305,1,0.974304
294974,peace with god,"[-0.0007286199, -0.17796989, -0.5997517, 0.307...",1,0.779039,1,0.970281

### Quick and dirty RNN ###

In [106]:
Xr = np.asarray(X).astype('float32')
yr = np.asarray(y).astype('float32')
trigramsr = np.asarray(trigrams).astype('float32')

In [107]:
import keras.backend as K
from keras.layers import Dense
from keras.models import Sequential

In [108]:
Xr.shape

(389, 678)

In [111]:
model = Sequential()

model = Sequential()
model.add(Dense(4, input_dim=678, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(Xr, yr, epochs=20, verbose=0)

_, accuracy = model.evaluate(Xr, yr)
print('Accuracy: %.2f' % (accuracy*100))

13/13 [==============================] - 0s 1ms/step - loss: 0.2605 - accuracy: 0.9794
Accuracy: 97.94

In [112]:
predictions = model.predict(trigramsr)

In [120]:
predictions[100:105]

array([[0.03357455],
       [0.01634842],
       [0.03149447],
       [0.64665926],
       [0.65041906]], dtype=float32)

In [118]:
rounded = [round(x[0]) for x in predictions]

In [122]:
trigram_df1['rnn_predict'] = rounded
trigram_df1['rnn_prob_good'] = predictions

trigram_df1.sample()

<ipython-input-122-15b55b42414b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trigram_df1['rnn_predict'] = rounded
<ipython-input-122-15b55b42414b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trigram_df1['rnn_prob_good'] = predictions

,title,w2v_dp1,gb_predict,gb_prob_good,svm_predict,svm_prob_good,rnn_predict,rnn_prob_good
396627,thou wilt frame,"[-0.6872282, -3.232688, 1.1388466, -0.7118684,...",1,0.639294,1,0.984371,0,0.258565

In [123]:
print('Title prediction counts by gb:\n', trigram_df1.gb_predict.value_counts())
print('Title prediction counts by svm:\n', trigram_df1.svm_predict.value_counts())
print('Title prediction counts by rnn:\n', trigram_df1.rnn_predict.value_counts())

Title prediction counts by gb:
 0    316386
1    146624
Name: gb_predict, dtype: int64
Title prediction counts by svm:
 0    307504
1    155506
Name: svm_predict, dtype: int64
Title prediction counts by rnn:
 0    358095
1    104915
Name: rnn_predict, dtype: int64

In [124]:
good_trigram_df1 = trigram_df1[(trigram_df1['gb_predict'] == 1) | (trigram_df1['svm_predict'] == 1) | (trigram_df1['rnn_predict'] == 1)]
good_trigram_df1.shape

(191195, 8)

In [131]:
good_trigram_df1.rnn_prob_good.describe()

count    191195.000000
mean          0.463887
std           0.203059
min           0.000148
25%           0.310201
50%           0.540477
75%           0.650419
max           0.660041
Name: rnn_prob_good, dtype: float64

Subsetting the rnn predicted titles into the (approximately) the top 25% or everything with a probability greater than 0.65.

In [136]:
best_rnn = good_trigram_df1[good_trigram_df1['rnn_prob_good']>0.65]
best_rnn.shape

(57994, 8)

In [139]:
best_rnn.sample(5)

,title,w2v_dp1,gb_predict,gb_prob_good,svm_predict,svm_prob_good,rnn_predict,rnn_prob_good
208486,kill the bees,"[-0.42150885, -0.40574756, -0.26478636, -0.190...",1,0.818335,1,0.919405,1,0.650419
401047,thy monstrous visage,"[-0.75379694, -0.415749, 1.3423016, 0.61131823...",1,0.802654,1,0.986194,1,0.650419
423450,upon the horse,"[-1.2001694, 0.44171017, 0.7581684, -0.8901928...",1,0.580425,1,0.916774,1,0.653882
232601,"master , live","[-0.12760663, -0.47371918, -0.74886316, -0.415...",0,0.462631,1,0.856371,1,0.659903
426502,very plausive invention,"[0.047889013, -0.41319183, -0.07935502, -0.726...",1,0.927969,1,0.934280,1,0.650419

In [138]:
best_rnn.gb_prob_good.describe()

count    57994.000000
mean         0.785228
std          0.191146
min          0.030071
25%          0.710258
50%          0.859114
75%          0.919234
max          0.976932
Name: gb_prob_good, dtype: float64

In [140]:
best_rnn.svm_prob_good.describe()

count    57994.000000
mean         0.929691
std          0.077655
min          0.068962
25%          0.904119
50%          0.955730
75%          0.981461
max          1.000000
Name: svm_prob_good, dtype: float64

Further subsetting the df by the top 25% of the svm and the top 25% of the gb predicted titles

In [144]:
best_rnn_all = best_rnn[(best_rnn['gb_prob_good'] > 0.92) | (best_rnn['svm_prob_good'] > 0.98)]
best_rnn_all.shape

(24061, 8)

In [145]:
best_rnn_all.sample(5)

,title,w2v_dp1,gb_predict,gb_prob_good,svm_predict,svm_prob_good,rnn_predict,rnn_prob_good
109732,enter other servants,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.892285,1,0.999999,1,0.650419
364951,the dauphin crowned,"[-0.9592242, 1.2239616, -0.6399064, -0.5107603...",1,0.940897,1,0.960740,1,0.650419
373108,the rest unvanquish,"[-0.9592242, 1.2239616, -0.6399064, -0.5107603...",1,0.941036,1,0.981300,1,0.650419
210049,knave is !,"[0.047692735, -0.33911407, -0.19056793, -0.200...",0,0.363283,1,0.991376,1,0.650419
339312,soul 's peril,"[-0.11785413, -0.7182934, -0.28010532, -0.4420...",1,0.929930,1,0.997165,1,0.650419

In [146]:
best_rnn_all.gb_prob_good.describe()

count    24061.000000
mean         0.845548
std          0.183695
min          0.034654
25%          0.845527
50%          0.928797
75%          0.945315
max          0.976932
Name: gb_prob_good, dtype: float64

In [147]:
best_rnn_all.svm_prob_good.describe()

count    24061.000000
mean         0.970299
std          0.041814
min          0.379908
25%          0.968485
50%          0.984532
75%          0.993827
max          1.000000
Name: svm_prob_good, dtype: float64

In [149]:
bad_good = best_rnn_all[(best_rnn_all['gb_predict'] == 0) | (best_rnn_all['svm_predict'] == 0)]
bad_good.shape

(1842, 8)

In [150]:
bad_good.sample(20)

,title,w2v_dp1,gb_predict,gb_prob_good,svm_predict,svm_prob_good,rnn_predict,rnn_prob_good
382395,then that thou,"[-0.58820623, -0.5312356, -0.7707676, -0.07242...",0,0.165100,1,1.000000,1,0.650419
25421,and hector enter,"[-0.10478376, -0.68211913, -0.2959186, -0.3051...",0,0.273185,1,0.993385,1,0.650419
212239,lady 's face,"[0.28690833, -0.62764, -0.42030942, -0.2303094...",0,0.463450,1,0.995959,1,0.650419
394974,thou how thou,"[-0.6872282, -3.232688, 1.1388466, -0.7118684,...",0,0.130205,1,1.000000,1,0.650419
68174,but hast thou,"[-0.42105323, -0.8566782, -0.8044319, -0.60553...",0,0.287916,1,0.999999,1,0.650419
401772,thy sweets comfort,"[-0.75379694, -0.415749, 1.3423016, 0.61131823...",0,0.429292,1,0.982309,1,0.650419
109510,"enter falstaff ,","[1.1176435, -0.11412289, 0.86288315, -0.851101...",0,0.258701,1,0.993795,1,0.650419
109534,"enter gadshill ,","[1.1176435, -0.11412289, 0.86288315, -0.851101...",0,0.218926,1,0.993998,1,0.650419
315177,sail how thou,"[0.082587205, -0.19744435, 0.09569794, -0.1038...",0,0.167054,1,1.000000,1,0.650419
109415,"enter chancellor ,","[1.1176435, -0.11412289, 0.86288315, -0.851101...",0,0.218926,1,0.994174,1,0.650419
107533,else of thee,"[-0.31674212, -0.4421493, -0.36133075, -0.2379...",0,0.275277,1,0.991209,1,0.650419
88264,crest ere thou,"[-0.058298796, -0.083360575, 0.056759395, -0.0...",0,0.463051,1,1.000000,1,0.650419
401767,thy sweet sake,"[-0.75379694, -0.415749, 1.3423016, 0.61131823...",0,0.375870,1,0.994283,1,0.650419
399751,thy brother edward,"[-0.75379694, -0.415749, 1.3423016, 0.61131823...",0,0.306772,1,0.989182,1,0.650419
109925,"enter thurio ,","[1.1176435, -0.11412289, 0.86288315, -0.851101...",0,0.218926,1,0.993577,1,0.650419
366199,the faith thou,"[-0.9592242, 1.2239616, -0.6399064, -0.5107603...",0,0.312056,1,1.000000,1,0.650419
229856,man 's house,"[-0.10247089, -0.18063769, -1.065488, -0.17652...",0,0.466604,1,0.990076,1,0.650419
109894,enter the lady,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",0,0.437654,1,1.000000,1,0.650419
71962,by our side,"[-1.2853718, 0.12453318, 0.7462741, -1.3583035...",0,0.491171,1,0.981402,1,0.650419
112667,excuse that thou,"[-0.05117061, -0.30052057, -0.03138597, -0.126...",0,0.193512,1,1.000000,1,0.650419

Rubbish! I am curious about the svm_titles that have 100% predicted probabilities.

In [189]:
perfect_svm = trigram_df1[trigram_df1['svm_prob_good']>0.9999999]
perfect_svm.shape

(1289, 8)

In [190]:
perfect_svm.sample(10)

,title,w2v_dp1,gb_predict,gb_prob_good,svm_predict,svm_prob_good,rnn_predict,rnn_prob_good
269052,now if thou,"[-0.027101433, 0.33587116, -0.55256146, 0.0537...",0,0.331836,1,1.0,1,0.650419
14462,"alive , thou","[-0.11535847, -0.14156812, 0.045334954, -0.284...",1,0.584753,1,1.0,1,0.650419
279625,of trees thou,"[-0.31132793, -0.26686984, 1.7738771, -0.93247...",0,0.437320,1,1.0,1,0.650419
45840,at pleasure thou,"[-1.0456319, 1.2859956, 0.28057608, -1.2160218...",0,0.291946,1,1.0,1,0.650419
318808,see as thou,"[-0.21275416, 0.15147936, -0.7121132, -0.39120...",0,0.271095,1,1.0,1,0.650419
431664,water hast thou,"[-0.17376123, -0.2336659, -0.07937449, -0.0626...",0,0.456023,1,1.0,1,0.650419
287671,"othello , thou","[-0.011102959, -0.070572056, 0.03733181, 0.017...",1,0.626244,1,1.0,1,0.650419
116462,"farewell , thou","[0.23371723, -0.79356337, -0.40265712, 0.16365...",1,0.626244,1,1.0,1,0.650419
366311,the fault thou,"[-0.9592242, 1.2239616, -0.6399064, -0.5107603...",1,0.632459,1,1.0,1,0.650419
110687,"ergo , thou","[-0.019927675, -0.0287083, 0.023881959, -0.014...",1,0.563954,1,1.0,1,0.650419

WOW. What is with all the 'ending in thou' titles?

In [192]:
perfect_svm.title.str.endswith('thou').value_counts()

True     1242
False      47
Name: title, dtype: int64

WOW. Red herring. What else is left?

In [193]:
thou = perfect_svm.title.str.endswith('thou')

perfect_svm[~thou]

,title,w2v_dp1,gb_predict,gb_prob_good,svm_predict,svm_prob_good,rnn_predict,rnn_prob_good
15842,all pyramus enter,"[-0.18137284, 0.19782384, -0.7731349, -0.13740...",0,0.465372,1,1.0,1,0.650419
109319,enter and exit,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.821896,1,1.0,1,0.650419
109484,enter duke frederick,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.924046,1,1.0,1,0.650419
109486,enter duke orsino,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.924046,1,1.0,1,0.650419
109488,enter duke solinus,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.924046,1,1.0,1,0.650419
109560,enter henry bolingbroke,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.863250,1,1.0,1,0.650419
109561,enter henry percy,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.895344,1,1.0,1,0.650419
109626,enter king richard,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.693217,1,1.0,1,0.650419
109733,enter our gates,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.503454,1,1.0,1,0.650419
109734,enter our rome,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.586346,1,1.0,1,0.650419
109789,enter queen elizabeth,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.922458,1,1.0,1,0.650419
109790,enter queen gertrude,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.888524,1,1.0,1,0.650419
109791,enter queen katharine,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.888524,1,1.0,1,0.650419
109874,enter the bastard,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.798551,1,1.0,1,0.650419
109875,enter the boy,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.600232,1,1.0,1,0.650419
109881,enter the countess,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.855417,1,1.0,1,0.650419
109885,enter the duke,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.685867,1,1.0,1,0.650419
109893,enter the king,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.704421,1,1.0,1,0.650419
109894,enter the lady,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",0,0.437654,1,1.0,1,0.650419
109896,enter the lord,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",0,0.380485,1,1.0,1,0.650419
109897,enter the lords,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",0,0.441981,1,1.0,1,0.650419
109899,enter the messenger,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.515225,1,1.0,1,0.650419
109901,enter the prince,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.664731,1,1.0,1,0.650419
109903,enter the queen,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",0,0.457306,1,1.0,1,0.650419
109906,enter the sheriff,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.855417,1,1.0,1,0.650419
109907,enter the soothsayer,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.855417,1,1.0,1,0.650419
109913,enter the warwick,"[1.1176435, -0.11412289, 0.86288315, -0.851101...",1,0.712006,1,1.0,1,0.650419
140112,good people enter,"[0.89183116, -0.21151099, -0.4573949, 0.003994...",0,0.396686,1,1.0,1,0.650419
159652,heaven and enter,"[-0.26787508, -0.16040882, -0.73043156, 0.4138...",0,0.422395,1,1.0,1,0.650419
163824,here 's beaufort,"[-0.7834921, 1.388132, -0.50344956, -0.4574383...",1,0.929353,1,1.0,1,0.650419
163833,here 's gloucester,"[-0.7834921, 1.388132, -0.50344956, -0.4574383...",1,0.757834,1,1.0,1,0.650419
163842,here 's metal,"[-0.7834921, 1.388132, -0.50344956, -0.4574383...",1,0.929353,1,1.0,1,0.650419
163844,here 's mistress,"[-0.7834921, 1.388132, -0.50344956, -0.4574383...",1,0.700347,1,1.0,1,0.650419
163860,here 's servilius,"[-0.7834921, 1.388132, -0.50344956, -0.4574383...",1,0.954136,1,1.0,1,0.650419
163861,here 's snip,"[-0.7834921, 1.388132, -0.50344956, -0.4574383...",1,0.928917,1,1.0,1,0.650419
216177,let 's ha,"[-1.7783487, 0.5082124, -0.66882604, -0.212988...",0,0.479270,1,1.0,1,0.650419
216535,let instructions enter,"[-1.7783487, 0.5082124, -0.66882604, -0.212988...",0,0.339098,1,1.0,1,0.650419
217183,let us enter,"[-1.7783487, 0.5082124, -0.66882604, -0.212988...",0,0.082868,1,1.0,1,0.650419
223030,"lord , enter","[0.14209582, -1.1874514, -1.0182289, -1.241069...",0,0.280686,1,1.0,1,0.650419
259113,no creature enter,"[-0.08464329, 0.8848814, -0.420693, -0.1841003...",0,0.430797,1,1.0,1,0.650419
304788,pucelle is enter,"[-0.0063148066, -0.11139169, 0.14660886, -0.11...",0,0.280109,1,1.0,1,0.650419
317597,scene and enter,"[0.004221163, -1.2922221, -0.5299831, -0.55320...",0,0.380654,1,1.0,1,0.650419
336597,soft music enter,"[-0.016723292, -0.15839632, -0.025772268, 0.02...",0,0.374104,1,1.0,1,0.650419
364205,the cloister enter,"[-0.9592242, 1.2239616, -0.6399064, -0.5107603...",1,0.507154,1,1.0,1,0.603649
364397,the competitors enter,"[-0.9592242, 1.2239616, -0.6399064, -0.5107603...",0,0.456837,1,1.0,1,0.574053
390266,this hath enter,"[-0.43590978, 0.71614957, -0.36361748, -0.0306...",0,0.456748,1,1.0,0,0.450590
441649,where 's richard,"[-0.82368076, 0.6422253, -0.0019464027, -0.332...",1,0.881868,1,1.0,1,0.650419

Ahh. Enter the [important person]. Another red herring.