In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import os

In [2]:
bitles = pd.read_pickle('../data/bigram_titles.pkl')
bitles.head()

,title,good_title,pos,pos1,pos2,title_token,word_vec,result,all_pos,dp1_pos
0,mingled yarn,1,"['VBN', 'NN']",VBN,NN,"['mingled', 'yarn']",[[-2.34753769e-02 -3.81344706e-02 5.21896631e...,"[-0.0234753769, -0.0381344706, 0.0521896631, -...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,stiff news,1,"['JJ', 'NN']",JJ,NN,"['stiff', 'news']",[[-1.87895857e-02 -9.64995101e-02 1.73002873e...,"[-0.0187895857, -0.0964995101, 0.0173002873, 0...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,salad days,1,"['JJ', 'NNS']",JJ,NNS,"['salad', 'days']",[[ 3.79228336e-03 -1.64979380e-02 1.30106723e...,"[0.00379228336, -0.016497938, 0.0130106723, -0...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,gaudy night,1,"['NN', 'NN']",NN,NN,"['gaudy', 'night']",[[-1.18637476e-02 -2.42617801e-02 2.91478410e...,"[-0.0118637476, -0.0242617801, 0.029147841, -0...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ..."
4,immortal longings,1,"['JJ', 'NNS']",JJ,NNS,"['immortal', 'longings']",[[-6.05380274e-02 -7.34784156e-02 8.35435167e...,"[-0.0605380274, -0.0734784156, 0.0835435167, -...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [3]:
bishake = pd.read_pickle('../data/shakespearean_bigrams.pkl')
bishake.head()

,title,pos,pos_len,pos1,pos2,title_token,word_vec,result,all_pos,dp1_pos
0,2d .,"['CD', '.']",2,CD,.,"['2d', '.']",[[-1.51270663e-03 -4.22298646e-04 -2.47966615e...,"[-0.00151270663, -0.000422298646, -0.002479666...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,4d .,"['CD', '.']",2,CD,.,"['4d', '.']",[[-2.26367125e-03 -1.85996655e-03 2.18400825e...,"[-0.00226367125, -0.00185996655, 0.00218400825...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,6d .,"['CD', '.']",2,CD,.,"['6d', '.']",[[-7.48245453e-04 1.43776520e-03 2.37661740e...,"[-0.000748245453, 0.0014377652, 0.0023766174, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,8d .,"['CD', '.']",2,CD,.,"['8d', '.']",[[ 1.73406990e-03 -1.39837153e-03 -9.75845382e...,"[0.0017340699, -0.00139837153, -0.000975845382...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
458,a !,"['DT', '.']",2,DT,.,"['a', '!']",[[ 3.78270075e-03 3.85284066e-01 -8.90050769e...,"[0.00378270075, 0.385284066, -0.890050769, 0.6...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [4]:
bitles = bitles.drop(columns=['pos', 'pos1', 'pos2', 'word_vec'])
bitles.sample()

,title,good_title,title_token,result,all_pos,dp1_pos
147,out for,0,"['out', 'for']","[-0.939932466, 0.547169149, -0.860268235, 0.06...","[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [5]:
bitles = bitles.drop(columns=['title_token'])

In [6]:
type(bitles.iloc[147,2])

numpy.ndarray

In [7]:
type(bitles.iloc[147,4])

list

In [8]:
bitles['w2v'] = bitles['result'].apply(lambda x: list(x))

In [9]:
bitles = bitles.drop(columns=['result'])

In [10]:
w2v_dp1_pos = bitles[['w2v', 'dp1_pos']]
w2v_dp1 = w2v_dp1_pos.values.tolist()

print('Length of w2v_dp1 list:', len(w2v_dp1))
print('Length of first element of w2v_dp1 list:', len(w2v_dp1[0]))
print('Length of first element of inner list:', len(w2v_dp1[0][0]))
print('Type of first element of inner list:', type(w2v_dp1[0][0]))
print('Length of seceond element of inner list', len(w2v_dp1[0][1]))
print('Type of element of inner list', type(w2v_dp1[0][1]))

Length of w2v_dp1 list: 244
Length of first element of w2v_dp1 list: 2
Length of first element of inner list: 400
Type of first element of inner list: <class 'list'>
Length of seceond element of inner list 48
Type of element of inner list <class 'list'>

In [11]:
new_w2v_dp1 = []

for i in range(len(w2v_dp1)):
    new_w2v_dp1.append(w2v_dp1[i][0] + w2v_dp1[i][1])
    
print('Length of new_w2v_dp1', len(new_w2v_dp1))
print('Length of inner list', len(new_w2v_dp1[0]))

Length of new_w2v_dp1 244
Length of inner list 448

In [12]:
bitles['w2v_dp1'] = new_w2v_dp1
bitles.sample(3)

,title,good_title,all_pos,dp1_pos,w2v,w2v_dp1
32,vaulting ambition,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.00673193159, -0.0237859841, 0.0229004566, -...","[0.00673193159, -0.0237859841, 0.0229004566, -..."
127,all earth,0,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.181372836, 0.197823837, -0.773134887, -0.1...","[-0.181372836, 0.197823837, -0.773134887, -0.1..."
0,mingled yarn,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.0234753769, -0.0381344706, 0.0521896631, -...","[-0.0234753769, -0.0381344706, 0.0521896631, -..."

In [13]:
w2v_all_pos = bitles[['w2v', 'all_pos']]
w2v_all = w2v_all_pos.values.tolist()

print('Length of w2v_all list:', len(w2v_dp1))
print('Length of first element of w2v_all list:', len(w2v_all[0]))
print('Length of first element of inner list:', len(w2v_all[0][0]))
print('Type of first element of inner list:', type(w2v_all[0][0]))
print('Length of seceond element of inner list', len(w2v_all[0][1]))
print('Type of element of inner list', type(w2v_all[0][1]))

Length of w2v_all list: 244
Length of first element of w2v_all list: 2
Length of first element of inner list: 400
Type of first element of inner list: <class 'list'>
Length of seceond element of inner list 50
Type of element of inner list <class 'list'>

In [14]:
new_w2v_all = []

for i in range(len(w2v_all)):
    new_w2v_all.append(w2v_all[i][0] + w2v_all[i][1])
    
print('Length of new_w2v_all', len(new_w2v_all))
print('Length of inner list', len(new_w2v_all[0]))

Length of new_w2v_all 244
Length of inner list 450

In [15]:
bitles['w2v_all'] = new_w2v_all
bitles.sample(3)

,title,good_title,all_pos,dp1_pos,w2v,w2v_dp1,w2v_all
185,actions most,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[-0.0204639938, -0.154355884, 0.0111430548, -0...","[-0.0204639938, -0.154355884, 0.0111430548, -0...","[-0.0204639938, -0.154355884, 0.0111430548, -0..."
32,vaulting ambition,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.00673193159, -0.0237859841, 0.0229004566, -...","[0.00673193159, -0.0237859841, 0.0229004566, -...","[0.00673193159, -0.0237859841, 0.0229004566, -..."
221,nor ask,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.798739791, 0.0866223946, -0.00376188126, -...","[-0.798739791, 0.0866223946, -0.00376188126, -...","[-0.798739791, 0.0866223946, -0.00376188126, -..."

In [16]:
datapath = '../data'

datapath_bitles = os.path.join(datapath, 'bigram_titles_dataset.pkl')
bitles.to_pickle(datapath_bitles)

Prepare the bigrammed shakespeare dataframe in the same way

In [17]:
bishake.sample()

,title,pos,pos_len,pos1,pos2,title_token,word_vec,result,all_pos,dp1_pos
56317,edified when,"['VBN', 'WRB']",2,VBN,WRB,"['edified', 'when']",[[-1.19574219e-02 -9.16389842e-03 -3.86817288e...,"[-0.0119574219, -0.00916389842, -0.00386817288...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [18]:
bishake = bishake.drop(columns=['pos', 'pos_len', 'pos1', 'pos2', 'title_token', 'word_vec'])
bishake.sample()

,title,result,all_pos,dp1_pos
215061,very sincerity,"[0.0478890128, -0.413191825, -0.0793550164, -0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."

In [19]:
bishake['w2v'] = bishake['result'].apply(lambda x: list(x))

In [20]:
bishake = bishake.drop(columns=['result'])
bishake.sample()

,title,all_pos,dp1_pos,w2v
185082,that either,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.64482224, 0.391026974, -1.0360198, -0.1675..."

In [21]:
w2v_dp1_pos = bishake[['w2v', 'dp1_pos']]
w2v_dp1 = w2v_dp1_pos.values.tolist()

print('Length of w2v_dp1 list:', len(w2v_dp1))
print('Length of first element of w2v_dp1 list:', len(w2v_dp1[0]))
print('Length of first element of inner list:', len(w2v_dp1[0][0]))
print('Type of first element of inner list:', type(w2v_dp1[0][0]))
print('Length of seceond element of inner list', len(w2v_dp1[0][1]))
print('Type of element of inner list', type(w2v_dp1[0][1]))

Length of w2v_dp1 list: 228508
Length of first element of w2v_dp1 list: 2
Length of first element of inner list: 400
Type of first element of inner list: <class 'list'>
Length of seceond element of inner list 48
Type of element of inner list <class 'list'>

In [22]:
new_w2v_dp1 = []

for i in range(len(w2v_dp1)):
    new_w2v_dp1.append(w2v_dp1[i][0] + w2v_dp1[i][1])
    
print('Length of new_w2v_dp1', len(new_w2v_dp1))
print('Length of inner list', len(new_w2v_dp1[0]))

Length of new_w2v_dp1 228508
Length of inner list 448

In [23]:
bishake['w2v_dp1'] = new_w2v_dp1
bishake.sample()

,title,all_pos,dp1_pos,w2v,w2v_dp1
209023,tribune hears,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...","[0.0142732803, -0.0510103218, 0.0271324702, -0...","[0.0142732803, -0.0510103218, 0.0271324702, -0..."

In [24]:
w2v_all_pos = bishake[['w2v', 'all_pos']]
w2v_all = w2v_all_pos.values.tolist()

print('Length of w2v_all list:', len(w2v_dp1))
print('Length of first element of w2v_all list:', len(w2v_all[0]))
print('Length of first element of inner list:', len(w2v_all[0][0]))
print('Type of first element of inner list:', type(w2v_all[0][0]))
print('Length of seceond element of inner list', len(w2v_all[0][1]))
print('Type of element of inner list', type(w2v_all[0][1]))

Length of w2v_all list: 228508
Length of first element of w2v_all list: 2
Length of first element of inner list: 400
Type of first element of inner list: <class 'list'>
Length of seceond element of inner list 50
Type of element of inner list <class 'list'>

In [25]:
new_w2v_all = []

for i in range(len(w2v_all)):
    new_w2v_all.append(w2v_all[i][0] + w2v_all[i][1])
    
print('Length of new_w2v_all', len(new_w2v_all))
print('Length of inner list', len(new_w2v_all[0]))

Length of new_w2v_all 228508
Length of inner list 450

In [26]:
bishake['w2v_all'] = new_w2v_all
bishake.sample()

,title,all_pos,dp1_pos,w2v,w2v_dp1,w2v_all
108463,let some,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[-1.77834868, 0.508212388, -0.668826044, -0.21...","[-1.77834868, 0.508212388, -0.668826044, -0.21...","[-1.77834868, 0.508212388, -0.668826044, -0.21..."

In [27]:
bishake =  bishake.drop(columns=['all_pos', 'dp1_pos', 'w2v'])
bishake.sample()

,title,w2v_dp1,w2v_all
178322,strength successfully,"[-0.113783017, -0.25584814, -0.0348768383, -0....","[-0.113783017, -0.25584814, -0.0348768383, -0...."

In [ ]:
datapath = '../data'

datapath_bishake = os.path.join(datapath, 'shake_bigrams_dataset.pkl')
bishake.to_pickle(datapath_bishake)